<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burger Bar</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/burger_style.css">

</head>
<body>
    {{{ body }}}
    
<script src="/public/assets/js/script.js"></script>


</body>
</html>